<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <ul class="list-unstyled nav navbar-nav navbar-default">
    <li><a [routerLink]="['login']">Home</a></li>
    <li><a [routerLink]="['pipe']">Pipe</a></li>
    <li><a [routerLink]="['product']">Products</a></li>
    <li><a [routerLink]="['register']">Register</a></li>
  </ul>
</div>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <input type="text" [(ngModel)]="title">
  </h1>
 </div>

 <div class="container">
   <router-outlet></router-outlet>
 </div>
 <!-- <div class="container">
   <app-pipe-demo></app-pipe-demo>
 </div> -->
<!-- 
<div class="container">
  <app-login></app-login>
</div>

<div class="container">
  <app-register></app-register>
</div> -->

<div class="container">
  Counter in App : {{ userService.counter}}
  <button class="btn btn-default" (click)="increase()"> Increase</button>
</div>

 <div class="container">
   <app-user [xyz]="users" [title]="title">
     <header>{{ headerInfo }}</header>
     <main class="section"> Main Contents </main>
     <footer>Some Footer Info</footer>
   </app-user>
 </div>

 <!-- <div>
   <app-product></app-product>
 </div> -->

 <!-- npm i bootstrap@3 --save -->