<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <input type="text" [(ngModel)]="title">
  </h1>
 </div>

 <div class="container">
   <app-pipe-demo></app-pipe-demo>
 </div>

 <div class="container">
   <app-user [xyz]="users" [title]="title">
     <header>{{ headerInfo }}</header>
     <main class="section"> Main Contents </main>
     <footer>Some Footer Info</footer>
   </app-user>
 </div>

 <div>
   <app-product></app-product>
 </div>

 <!-- npm i bootstrap@3 --save -->