
<div class="container">
    Counter in UserComp : {{ userService.counter}}
    <button class="btn btn-default" (click)="increase()"> Increase</button>
  </div>


<div class="container">
<h2>Title from Parent : {{ title }}</h2>
<!-- {{ users | json }} -->
</div>

<ng-content select="header"></ng-content>

<br>
<div class="container">
<ul class="list-unstyled">
<li class="well" *ngFor="let user of users; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2">
            {{ i }}
            <br>
            is this Even ? {{ isEven }}
            <img [src]="user.image" 
                class="img-responsive img-circle">
            <br><hr>
            <button class="btn btn-info btn-sm" 
                (click)="moreInfo(user)">
                More Info
            </button>
        </div>
        <ng-template #elseTemplate>
            <p>
                {{user.firstName }} is not working now!
            </p>
        </ng-template>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <h1 appHighlight [myColor]="myColor">{{ user.firstName | uppercase }} {{ user.lastName | uppercase }}</h1>
            <!-- <ng-template [ngIf]="user.isWorking">
                <p></p>
            </ng-template> -->
            <p *appUnless="!user.isWorking">
                income : {{ user.income | currency : 'EUR' }}
            </p>
            <!-- <p *ngIf="user.isWorking; else elseTemplate"> Income : {{ user.income}} </p> -->
            <!-- using Interpolation -->
            <p [ngClass]="{'myBorder' : isEven, 'decoration' : isOdd}"> Date of Birth : {{ user.dob }}</p>
            <p [ngClass]="myBorderStyle"> Date of Birth : {{ user.dob | date : 'MM/dd/yyyy'}}</p>
            <!-- Property binding syntax -->
            <!-- <p>Date of Birth : 
                <span [innerHTML]="user.dob"></span>
            </p> -->
            <p><ng-content select=".section"></ng-content></p>
        <br>
        <em>
            Total Votes : {{ user.vote }}
            <!-- <input type="number" 
                [value]="user.vote"
                (change)="user.vote=$event.target.value"> -->
            <input type="number" [(ngModel)]="user.vote">
        </em>
    </div>
    </div>
</li>
</ul>
<ng-content select="footer"></ng-content>
</div>